form {
  margin: 3rem auto;
  background-color: #f7f7f7;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.8rem;
}

h3 {
  background-color: #1f030c;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 0;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

input,
select {
  width: 60%;
  padding: 0.5rem;
  border: 1.5px solid black;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
}

#numberOfPeople {
  color: red;
}

label,
div {
  width: 90%;
  margin-bottom: 1rem;
}

#submit {
  background: linear-gradient(to right, #1c1b1a, #790804);
  color: white;
  font-weight: 500;
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: linear 0.5s;
}

#submit:hover {
  background: #790804;
  transform: scale(1.025);
}

p {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.tip-amount {
  font-size: 2rem;
}

span {
  font-size: 1.2rem;
}
